.tool-versions
designs/yarn.lock
.vscode/extensions.json
client/.env
client/.next
.DS_Store
*.swp
**/.terraform*
.terraform.lock.hcl
__pycache__
**/package/*
**/dist/*
.env
.venv
logs
.pyway.conf*
package-lock.json
pnpm-lock.yaml
